@import url("https://fonts.googleapis.com/css?family=Poppins&display=swap");

* {
  box-sizing: border-box;
}

body {
  background-color: #242333;
  color: #fff;
  font-family: "Poppins", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0;
}
.wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.blur {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  filter: blur(5px);
  z-index: 10;
  pointer-events: none;
}

.movie-container {
  margin: 20px 0;
}

.movie-container select {
  background-color: #fff;
  border: 0;
  border-radius: 5px;
  font-size: 14px;
  font-family: inherit;
  margin-left: 10px;
  padding: 5px 15px;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
}

.container {
  perspective: 1000px;
  margin-bottom: 30px;
}

.seat {
  background-color: #444451;
  height: 12px;
  width: 15px;
  margin: 3px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.seat.selected {
  background-color: #6feaf6;
}

.seat.occupied {
  background-color: #fff;
}

.seat:nth-of-type(2) {
  margin-right: 18px;
}

.seat:nth-last-of-type(2) {
  margin-left: 18px;
}

.seat:not(.occupied):hover {
  cursor: pointer;
  transform: scale(1.2);
}

.showcase .seat:not(.occupied):hover {
  cursor: default;
  transform: scale(1);
}

.showcase {
  background: rgba(0, 0, 0, 0.1);
  padding: 5px 10px;
  border-radius: 5px;
  color: #777;
  list-style-type: none;
  display: flex;
  justify-content: space-between;
}

.showcase li {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 10px;
}

.showcase li small {
  margin-left: 2px;
}

.row {
  display: flex;
}

.screen {
  background-color: #fff;
  height: 70px;
  width: 100%;
  margin: 15px 0;
  transform: rotateX(-45deg);
  box-shadow: 0 3px 10px rgba(255, 255, 255, 0.7);
}

p.text {
  margin: 5px 0;
}

p.text span {
  color: #6feaf6;
}

/* Form Handling */
#form {
  display: flex;
  position: fixed;
  height: 350px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 20;
  background-color: #3c404d;
  padding: 20px;
  border-radius: 8px;
  width: 300px;
  border: #242333 1px solid;
  flex-direction: column;
  justify-content: center;
  /* backdrop-filter: blur(50px); */
}
.form__text-container h2 {
  color: #6feaf6;
}
.form__text-container h2,
.form__text-container p {
  margin-block-start: 0;
  margin-block-end: 5px;
}
.form__text-container__movie-name {
  font-size: 20px;
}
.form__text-container__total-price {
  margin-block-end: 12px;
}
.form__button-container {
  display: flex;
  justify-content: space-between;
}
input {
  margin: 0;
  padding: 10px;
  border: 0;
  border-radius: 5px;
  font-size: 14px;
  font-family: inherit;
  border: #242333 1px solid;
}
.button {
  background-color: #0fddf0;
  color: black;
  border-radius: 5px;
  width: 100px;
  justify-content: center;
  cursor: pointer;
  font-size: 14px;
  font-family: inherit;
  padding: 10px;
  text-decoration: none;
  width: 100px;
  height: 40px;
  margin: 0 20px;
  border: none;
  transition: background-color 0.3s ease;
}
.button:hover {
  background-color: hsl(185, 88%, 40%);
}

.navigation-button {
  position: absolute;
  top: 20px;
}

/* Admin Page Container */
.admin-page {
  padding: 0 40px;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.header h1 {
  text-align: center;
  font-size: 32px;
  color: #6feaf6;
  margin-bottom: 16px;
}

/* Movie List Table */
.movie-list table {
  width: 100%;
  border-collapse: collapse;
  justify-content: space-between;
  margin: 20px 0;
}

.movie-list th,
.movie-list td {
  padding: 10px;
  text-align: left;
  border-bottom: 1px solid #444;
  width: 100%;
}
.movie-list th:first-child,
.movie-list td:first-child {
  display: flex;
  align-items: center;
}

.movie-list th {
  background-color: #3c404d;
  color: #fff;
  font-size: larger;
  width: 100%;
}

.movie-list td:last-child,
.movie-list th:last-child {
  text-align: right;
}

.movie-list td {
  color: #dddddd;
}

.movie-list tr {
  display: flex;
}

/* Input containers */

.adminpage__add-movie-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  border: black 1px solid;
  padding: 10px;
}
.adminpage__add-movie-container h2 {
  margin-block-start: 0;
  margin-block-end: 10px;
}
.adminpage__add-movie-container input {
  margin: 0 10px;
}

.adminpage__add-movie-container__input-field {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
  padding: 10px;
}

.input-field__title-input {
  width: 300px;
}
.input-field__price-input {
  width: 100px;
}

.admin-page__button-container {
  display: flex;
  justify-content: flex-end;
}

.error-message {
  color: red;
  font-size: 15px;
  margin: 5px;
  visibility: hidden;
  min-height: 22.67px;
}
.show {
  visibility: visible;
}

/* Feedback window */
.feedback-window {
  position: fixed;
  display: flex;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 100;
  background-color: #3c404d;
  padding: 10px;
  border-radius: 8px;
  width: 200px;
  border: #242333 1px solid;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
}
.feedback {
  margin-bottom: 10px;
}
